.header{
    background-image: url('../../images/home-background.jpeg');
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header h2{
    z-index: 1;
    color: #fff;
} 
.header:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
    height: 200px;
  }