.banner{
    background-image: url('../../images/home-background.jpeg');
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner .logo{
    z-index: 6;
    width: 150px;
} 
.banner:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(105, 105, 105, 0.5);
    height: 200px;
  }
  .teamImg{
      width: 250px;
  }
  .social-link img{
      width: 50px;
  }
  .hero h3, .hero p{
      color: #ffffff;
  }
  .more-details{
      border-radius: 10px;
      margin-top: 20px;
      padding: 20px;
  }
  @media (max-width: 414px){
    .team-img{
        text-align: center;
    }
    .hero-holder{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
  }
